
.header-cover {
  color: var(--white);
  text-align: center;
  padding: 2rem;
  background: var( --dark-blue-is);
}


.cover-image {
  margin-bottom: 2rem;
}

.cover-title {
  font-size: 1.5rem;
  line-height: 1.6;
  margin-bottom: 1rem;
}

.cover-description {
  padding: 0 .5rem;
  margin-bottom: 2rem;
  line-height: 1.6;
}

button {
  cursor: pointer;
}