.post {
  margin-bottom: 2rem;
}

.post-item {
  display: flex;
  flex-flow: column nowrap;
  text-align: left;
  color: var(--white);
}

.post-title {
  margin-bottom: 1rem;
}

.post-description {
  line-height: 1.5;
  margin-bottom: 1rem;
}

.post-image {
  align-self: center;
  width: 80%;
  margin-bottom: 4rem;
}

.read-more {
  color: var(--cyan-cta);
  line-height: 1.5rem;
}

@media (min-width: 1200px) {
  .post {
    margin-bottom: 2rem;
  }

  .post-item {
    flex-direction: row;
    align-items: center;
    padding: 0 3rem;
    gap: 4rem;
  }

  .post-title {
    font-size: 4ch;
  }
}
