.main-container {
  margin-bottom: 2rem;
  padding: 2rem;
}

.main-card {
  text-align: center;
  color: var(--white);
  margin-bottom: 4rem;
}

.card-image {
  width: 20%;
  margin-bottom: 1rem;
}

.card-title {
  font-size: 1.2rem;
}

.card-description {
  line-height: 1.5;
}

@media (min-width: 1200px) {
  .card-container {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    margin: 0 auto 5rem;
    gap: 1rem;
    justify-content: center;
    align-items: center;
  }

  .main-card {
    flex-basis: 40ch;
    margin: 1rem;
  }

  .main-card > * {
    margin-bottom: 1rem;
  }

  .card-image {
    width: 15%;
  }

  .card-description {
    width: 90%;
    margin: 0 auto;
  }
}
