.cta {
  display: flex;
  flex-direction: column;
  padding: 2rem 1rem;
  align-items: center;
  background: var(--dark-blue-is);
  border-radius: 1rem;
  color: var(--white);
  box-shadow: 0.2rem 0.5rem 0.5rem rgba(0, 0, 0, 0.1);
  margin-top: -13rem;
  margin-bottom: 6rem;
}

.cta-title {
  font-size: 1.3em;
  margin-bottom: 1rem;
}

.cta-description {
  line-height: 1.6;
  text-align: center;
  margin-bottom: 2rem;
}

.cta-form {
  width: 100%;
}

.cta input {
  border: none;
  border-radius: 2rem;
  margin-bottom: 1rem;
  width: 100%;
  outline: none;
}

.cta input[type="email"] {
  background: var(--white);
  color: var(--dark-blue-tg);
  padding: 1rem;
}

.cta input[type="submit"] {
  color: var(--white);
  background: linear-gradient(to bottom left, var(--blue-cta), var(--cyan-cta));
  padding: 1rem 0;
  font-weight: 700;
  cursor: pointer;
}

.error {
  font-size: 0.8rem;
  font-weight: 700;
  padding-left: 2rem;
  color: var(--error);
}

@media (min-width: 1200px) {
  .cta {
    width: 50rem;
    margin: -10rem auto 6rem;
    padding: 2rem 2rem;
  }

  .input-container {
    width: 100%;
    display: flex;
    gap: 2rem;
  }

  .cta input[type="submit"] {
    flex-basis: 30%;
  }
}
