.blog-container {
  margin-bottom: 20rem;
  padding: 2rem;
  color: var(--white);
}

.blog-list-title {
  margin-bottom: 2rem;
  line-height: 1.6;
  width: fit-content;
  border-bottom: 1px solid var(--cyan-cta);
}

.blog-card {
  background: var(--dark-blue-is);
  padding: 2rem;
  border-top-left-radius: 2rem;
  border-bottom-right-radius: 2rem;
  line-height: 1.6;
  margin-bottom: 1rem;
}

.blog-title {
  margin-bottom: 1rem;
  width: fit-content;
}

.blog-body {
  margin-bottom: 0.5rem;
}

.blog-author {
  margin-bottom: 1rem;
}

.read-more {
  font-weight: 700;
  cursor: pointer;
}

.blogDetailsContainer {
  padding: 1.5em;
  margin-bottom: 15rem;
  color: var(--white);
}

.blog-d-card {
  margin-bottom: 2rem;
}

.blog-d-title {
  margin-bottom: 2rem;
  width: fit-content;
}

.blog-d-body {
  margin-bottom: 1rem;
  line-height: 1.5;
}

.blog-d-author {
  margin-bottom: 1.5rem;
}

.delete-post {
  display: block;
  margin: 0 auto;
}

.separator {
  width: 50%;
  height: 0.1rem;
  margin: 0 auto;
  background: var(--cyan-cta);
}

@media (min-width: 800px) {
  .blog-container {
    width: 90%;
    margin: 0 auto 15rem;
  }
  .blog-card-Container {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
  }

  .blog-card-Container > * {
    flex-basis: calc(100% / 3 - 2rem);
  }

  .blogDetailsContainer {
    width: 80%;
    margin: 0 auto 10rem;
  }
}
