.new {
  margin-bottom: 15rem;
  padding: 1rem;
}

.new form {
  display: flex;
  flex-direction: column;
  padding: 2rem;
}

.new form label {
  font-size: 1.1rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
  color: var(--cyan-cta);
}

.new input {
  padding: 1rem;
  margin-bottom: 2rem;
}

.new textarea {
  font-family: "Opensans", sans-serif;
  padding: 1rem;
  margin-bottom: 2rem;
  height: 15rem;
}

.new input:focus,
textarea:focus {
  background: rgba(255, 255, 255, 0.1);
  transition: background 100ms ease;
}

.new input,
textarea {
  background: none;
  border: none;
  outline: none;
  border-bottom: 0.2rem solid var(--cyan-cta);
  color: var(--white);
}

.create-post-preview {
}
