.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.5rem;
}

.nav-list {
}

.nav-item {
  color: var(--white);
  text-decoration: none;
  padding-right: 1.2rem;
}

.nav-item:last-child {
  padding: 0;
}

@media (min-width: 1200px) {
  .nav-item {
    padding-right: 3.5rem;
  }
}
